html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
main{
    background: radial-gradient(circle, rgb(174, 234, 233,0.6) 30%, rgb(90, 221, 218) 100%), url(leather.png);
    background-blend-mode: luminosity;
    background-repeat: repeat;
    padding-left: 10vw;
    padding-right: 10vw;
}
a{
    text-decoration: none;
    color: inherit;
}
.navbar-logo{
    position: relative;
    width: 1.25rem;
    top: 0;
    transform: translateY(-37%);
}
.logo-vm{
    color: #ffffff;
    font-style: italic;
}
.navbar-dark{    
    background: rgb(52, 52, 52, 0.5);
    backdrop-filter: blur(0.5rem);
}
.navbar{
    padding-inline: 1.75vw !important;
}
.navbar-nav{
    margin-left: auto;
}
.nav-link{
    color: #ffffff;
    padding-inline: 8px !important;
}
.navbar .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.navbar .nav-item:hover .dropdown-menu {
    display: block;
    background: #212529;
    opacity: 1;
}
.dropdown-menu{
    background: rgb(52, 52, 52, 0.5) !important;
    backdrop-filter: blur(20rem) !important;
    padding-inline: 6px;
}
hr{
    padding-block: 0px !important;
    margin-block: 0px !important;
    border: none; /* Remove default */
    border-top: 2px solid rgb(255, 255, 255, 0.5); /* Set your color */
}
.dropdown-item{
    color: white;
    border-radius: calc(0.15vw + 1.5px);
    padding-block: 6px !important;
}
.dropdown-item:hover{
    background: rgb(92, 217, 215, 0.7) !important;
    color: white !important;
    font-weight: 600;
}
.nav-link:hover, .nav-link:focus{
    background: #FFA500 !important;
    background: rgb(92, 217, 215) !important;
    color: white !important;
    font-weight: 600;
}
.nav-item.dropdown:hover .service-nav {
    background: #FFA500 !important;
    background: rgb(92, 217, 215) !important;
    color: white !important;
    font-weight: 600;
}
.dropdown-menu{
    backdrop-filter: blur(0.5rem);
}
.carousal-left-body{
    background: #343434;
    height: 75vh;   
    padding-inline: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end !important;
    padding-right: calc(2rem + 2.8vw);
}
.carousal-right-body{
    padding: 0;
}
.c-img{
    height: 75vh;
    background: grey;
    background-size: cover;
    background-position: top center;
}
.c1{
    background-image: url(c1.webp);
}
.c2{
    background-image: url(c2.webp);
}
.c3{
    background-image: url(c3.webp);
}
.carousal-area{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; 
}
.services-we-offer{
    color: black;
}
.jobs-card{
    padding: 12px;
}
.jobs-card:hover{
    transform: scale(1.02);
    .card-body{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}
.card-body{
    width: 100%;
    aspect-ratio: 3/2;
    background: grey;
    position: relative;
    overflow: hidden;
    
    border-radius: 1rem;
    background-size: cover;
    background-position: top center;
    border: 2px solid black;
}
.card-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: black;
    color: rgb(92, 217, 215);
    
    padding-inline: 0.4rem;
    font-size: 1.5rem;
    padding-block: 0.33rem;
}
.carousel-left-heading{
    text-align: right;
    font-size: 2.2rem;
}
.footer-section{
    padding-inline: 10vw;
    background: #343434;
}
.ft-heading{
    color: #ffffff;
    font-size: 1.9rem;
}
.social-links-container{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}
.social-logo a{
    position: relative;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
}
.social-logo svg{
    height: 100%;
    width: 100%;
}
.x-logo-container>a>svg{
    transform: scale(0.8);
}
.social-logo svg:hover{
    transform: scale(1.1);
}
.x-logo-container>a>svg:hover{
    transform: scale(0.9);
}
#map{
    height: 50vh;
    width: 100%;
    border-radius: 1.5rem;
}
.leaflet-control-attribution{
    visibility: hidden;
}
.homenurse-card{
    background-image: url(home-nursing-img.webp);
}
.caretaking-card{
    background-image: url(caretaking.webp);
    background-position: center center;
}
.housecleaning-card{
    background-image: url(homecleaning.webp);
    background-position: bottom center;
}
.Cooking-card{
    background-image: url(cooking.webp);

}
.babysitting-card{
    background-image: url(babysitting-img.webp);
}
.watchman-card{
    background-image: url(watchman-img.webp);
}
.drivers-card{
    background-image: url(driver-img.webp);
}
.call-btn{
    color: white;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    background: #0d6efd;
}
.call-us{
    color: #0d6efd !important;
    font-size: 2.5rem;
}
.call-icon{
    margin-top: 0;
}
.call-btn {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 10px; 
    gap: 10px;
}
.call-btns{
    display: flex;
    gap: 1rem;
}
.call-btn:hover{
    transform: scale(1.06);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.whatsapp-floating-container{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;
    background: #25D366;
    padding: 0.7rem;
    border-radius: 50%;
    z-index: 999;
}
.whatsapp-floating-container:hover{
    transform: scale(1.1);
}
.floating-whatsapp-a{
    position: relative;
    z-index: 999;
}
.whatsapp-floating-container:before,
.whatsapp-floating-container:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px #28D146;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 995;
}

.whatsapp-floating-container:before {
  animation: ripple 2s linear infinite;
}

.whatsapp-floating-container:after {
  animation: ripple 2s 1s linear infinite;
}

h6{
    font-size: clamp(13.5px, 1.35vw, 50px) !important;
}
.ft-call-btns{
    gap: calc(0.8vw + 4px);
}
.ft-call-btn{
    font-size: clamp(13.5px, 1.35vw, 50px) !important;
    border-radius: calc(0.35vw + 5px);
    padding: calc(0.4vw + 4px);
}
.ft-call-btn > svg {
    width: clamp(13.5px, 1.35vw, 50px);
    height: clamp(13.5px, 1.35vw, 50px);
}
.landmark{
    font-style: italic;
}
.location-side{
    padding: 5vw;
    padding-top: 0;
}
@keyframes ripple {
  to {
    transform: scale(1.75);
    opacity: 0;
  }
}
@media (max-width: 1199.98px) {
    h6{
        font-size: clamp(1rem,2vw,50px) !important;
    }
    .ft-call-btn{
        font-size: clamp(1rem,2vw,50px) !important;
        padding: calc(0.4vw + 6px);
    }    
    .ft-call-btn > svg {
        width: clamp(1rem,2vw,50px);
        height: clamp(1rem,2vw,50px);
    }
    .ft-call-btns{
        gap: calc(1.5vw + 8px);
        flex-direction: column;
    }
    .ft-heading{
        font-size: 2rem;
    }
}
@media (max-width: 767.98px) {    
    .c-img{
        height: 50vh;
        background-size: cover;
        background-position: top center;
    }
}
